
.background {
	background-image: url(../../assets/images//Landingpage1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
     /* padding-bottom: 200px; */
}
a {
     text-decoration: underline;
}

.createAccount {
     display: inline-block;
     text-transform: capitalize;
     text-decoration: none;
     font-weight: 500;
     background-image: linear-gradient(310deg, rgb(255, 120, 0), rgb(227, 63, 0));
     padding: 1rem 4rem;
     font-size: 1rem;
     color: rgb(255, 255, 255);
     border-radius: 30px;
     position: relative;
     z-index: 1;
     transition: 0.4s ease-in-out;
}


.createAccount::after {
     content: "";
     clear: both;
     display: block;
     position: absolute;
     width: 100%;
     
     background-image: linear-gradient(310deg, rgb(255, 130, 26), rgb(255, 139, 0));
     border-radius: 30px;
     left: 0px;
     z-index: -1;
     transition: 0.4s ease-in-out;
     transform: scale(0);
     bottom: 0px;
}

.createAccount:hover {
     color: rgb(33, 37, 41);
}



.signIn {
     text-decoration: none;
     display: inline-block;
     text-transform: capitalize;
     font-weight: 500;
     background: rgb(255, 255, 255);
     padding: .625rem 2rem;
     font-size: 1rem;
     color: rgb(11, 43, 60);
     border-radius: 30px;
     position: relative;
     z-index: 1;
     transition: 0.4s ease-in-out;
     border: 2px solid rgb(255, 255, 255);
}


.signIn::after {
     content: "";
     clear: both;
     display: block;
     position: absolute;
     width: 100%;
     height: 0%;
     background-image: linear-gradient(310deg, rgb(255, 130, 26), rgb(255, 139, 0));
     border-radius: 30px;
     left: 0px;
     z-index: -1;
     transition: 0.4s ease-in-out;
     transform: scale(0);
     bottom: 0px;
}

.signIn:hover {
     color: rgb(255, 255, 255);
	 background-color: #fe8303;
}

.textDiv{
     /* margin-top: 18%; */
     display: flex;
     flex-direction: column;
     align-items: center;
}

 h2 {
     margin-top: 9rem;
     margin-bottom: 0rem;
     font-weight: 500;
     line-height: 1.2;
     color: var(--bs-heading-color);
}

.textDiv h2 {
     font-size: 3rem;
     color: rgb(255, 255, 255);
     text-transform: capitalize;
     font-weight: 900;
     line-height: 1.2;
     margin-bottom: 20px;
}
.textDiv p {
     width: 75%;
     font-size:1.8rem;
}

@media only screen and (min-width: 768px){
     h2 {
         font-size: 60px;
    }
}

.linkDiv {
     display: flex;
     gap: 1rem;
}

p {
     margin-top: 0px;
     margin-bottom: 1rem;
}

 p {
     font-size: 16px;
     color: rgb(255, 255, 255);
     font-weight: 500;
     line-height: 30px;
     margin-bottom: 30px;
}

@media only screen and (max-width: 767px){
     .textDiv{
     margin-top: 30%;
}
   .textDiv h2 {
        font-size: 1.5rem;
     }
}
@media only screen and (max-width: 620px){
     .createAccount {
 padding: .5rem 1rem;
     }
     .signIn {
           padding: .625rem 1rem;
           font-size: .8rem;
     }
}

@media only screen and (max-width: 520px){
     .textDiv{
     margin-top: 40%;
}
}
