.background {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: red;
}

.textDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.textDiv h2 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 20px;
  color: white;
}

.textDiv p {
  width: 75%;
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
}

.linkDiv {
  display: flex;
  gap: 1rem;
}

.createAccount {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(310deg, rgb(255, 120, 0), rgb(227, 63, 0));
  padding: 1rem 4rem;
  font-size: 1rem;
  color: white;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.createAccount::after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(310deg, rgb(255, 130, 26), rgb(255, 139, 0));
  border-radius: 30px;
  left: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
  transform: scale(0);
  bottom: 0;
}

.createAccount:hover {
  color: rgb(33, 37, 41);
}

.signIn {
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 500;
  background: white;
  padding: 0.625rem 2rem;
  font-size: 1rem;
  color: rgb(11, 43, 60);
  border-radius: 30px;
  position: relative;
  z-index: 1;
  transition: 0.4s ease-in-out;
  border: 2px solid white;
}

.signIn::after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  width: 100%;
  height: 0%;
  background-image: linear-gradient(310deg, rgb(255, 130, 26), rgb(255, 139, 0));
  border-radius: 30px;
  left: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
  transform: scale(0);
  bottom: 0;
}

.signIn:hover {
  color: white;
  background-color: #fe8303;
}

/* Responsive adjustments */
@media only screen and (max-width: 767px) {
  .textDiv {
    margin-top: 30%;
  }
  .textDiv h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 620px) {
  .createAccount {
    padding: 0.5rem 1rem;
  }
  .signIn {
    padding: 0.625rem 1rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 520px) {
  .textDiv {
    margin-top: 40%;
  }
}

