
/* Footer styles */
.footer {
  background-color:#3A4559;
  min-height: 12rem;
  color: #c1c1c1;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  height: auto;
  padding-top: 1rem;
  margin-top: auto !important;
}

.internalWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.logoSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contactList {
  
  list-style: none;
}

.logo {
  height: 1.25rem;
  width: 18rem;
  width: auto;
}

.logo img {
  height: 100%;
}

.socialLinks {
  margin-top: 5px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.linksSection {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.linksList,
.contactInfo {
  list-style: none;
  padding: 0;
  text-align: center;
}

h3 {
  margin-bottom: 5px;
  font-size: 20px;
  color:white;
}

li {
  /* margin-bottom: 5px; */
  padding: 5px 0;
  opacity: 0.8;
}

a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #f1f1f1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
  }
  .contactList {
    justify-content: center;
  }

  .logo {
    height: 30px;
  }

  .linksSection {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    width: 100%;
  }

  .linksList,
  .contactInfo {
    width: 100%;
  }

  .socialLinks {
    gap: 15px;
  }
  .socialLinks svg {
    width: 1.25rem;
  }

  li {
    font-size: 14px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .internalWrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .footer {
    /* padding: 20px 10px; */
  }
  .contactList {
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
  }
  .logo {
    height: 15px;
  }

  .linksSection {
    padding-left: 0;
    align-items: center;
    width: 100%;
  }

  .socialLinks {
    margin-top: 5px;
    display: flex;

    gap: 10px;
  }

  li {
    font-size: 13px;
  }

  h3 {
    font-size: 16px;
  }
}
