
.container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8d8f8d;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
  }
  
  textarea {
    height: 150px;
  }
  
  .quill-editor {
    min-height: 150px;
    height: auto;
  }
  
  button {
    background-color: #5b8c5d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .errorMessage {
    color: red;
    text-align: center;
  }

  .buttonGroup{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .submitButton, .discardButton {
    width: 25%;
  }

  @media (max-width: 768px) {
    .buttonGroup {
      flex-direction: column;
      align-items: center;
    }
   .submitButton, .discardButton {
    width: 30%;
  }
  }

  @media (max-width: 480px) {
   .submitButton, .discardButton {
    width: 50%;
  }
  }
