.loginContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex: 1;
}

/* Left Side - Form */
.leftWrapper {
  width: 48%;
  padding: 30px;
  border-radius: 5px;
  
  flex: 1;
  align-items: center;
}

.formContainer {
  padding: 10px;
  border-radius: 8px;
  margin: 0 auto !important;
}

.formContainer h1 {
  margin: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.inputGroup {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f8f8;
}

/* Buttons */
button {
  width: 50%;
  padding: 12px;
  background-color: #f39228;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover:not(:disabled) {
  background-color: #f89123;
}

button:disabled {
  background-color: #f39228;
}

/* Right Side - Image & Text */
.rightWrapperLogin {
  width: 48%;
  max-width: 100%;
  height: 500px;
  background-image: url("../../assets//images/loginImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-blend-mode: darken;
  background-color: #0009;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
}

.overridephoto {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}

.textContainer {
  color: #ffffff;
  width: 60%;
  margin: 2rem 0;
 
}

.textContainer span {
  color: #f39228;
}

.textContainer h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 80px 0;
}


.registerLink{
  padding: 1rem 0;
}

.forgot__password {
  text-align: left;
  margin: 10px;
  font-size: 16px;
}

.forgot__password a,
forgot__assword h3 a {
  text-decoration: none;
  color: #f89123;
}

.forgot__password a:hover,
forgot__assword h3 a:hover {
  text-decoration: underline;
  color: #f39228;
}

.directToRegister {
 color: #ff7300
}

.loginContainer a{
  color: #ff7300;
}

.submitButton {
  width: 60%;
}
.register{
  width: 90%;
  display: flex;
  gap: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .leftWrapper {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
  }
  .loginContainer {
    flex-direction: column;
    justify-content: center;
  }

  .leftWrapper,
  .rightWrapperLogin {
    width: 100%;
    padding: 15px;
  }

  .formContainer {
    /* max-width: 100%; */
    padding: 15px;
  }

  .rightWrapperLogin {
    display: none;
  }

  .textContainer {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }

  .textContainer h1 {
    font-size: 1.8rem;
  }

  .inputGroup {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
.inputGroup input {
  width: 80% !important;
}
  button {
    width: 100%;
    padding: 14px;
  }

  .overridephoto {
    max-width: 300px;
  }
}

/* Media Query for Extra Small Screens (Mobile Devices) */
@media (max-width: 480px) {
  .formContainer h1 {
    font-size: 1.5rem;
  }

  .textContainer h1 {
    font-size: 1.6rem;
  }

  .inputGroup input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .forgotPassword,
  h3 {
    font-size: 14px;
  }

  button {
    padding: 12px;
  }
}